server:
  port: 9090
spring:
  application:
    name: sparrow-config-service
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres?useSSL=false
    username: postgres
    password:
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
  cloud:
    zookeeper:
      connect: localhost:2181
      discovery:
        enabled: true
        register: true